.p-menubar {
  border-radius: 0px;
  background: #ffff;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.logo-text {
  font-style: normal;
}

.logo-container:hover {
  cursor: pointer;
}


@media (max-width: 1000px) {
  .logo-container {
    display: block;
  }
}
